SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=nexus-storage

UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=